<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <!--<system.diagnostics>
      <trace useGlobalLock="false" autoflush="true" indentsize="0">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\asm\Source\Repos\csharp-client\Hazelcast.Test\log\HazelcastNetClient.log" />
        </listeners>
      </trace>
    </system.diagnostics>-->


 <!--<system.diagnostics>
	 <sources>
		 <source name="System.Net.Sockets">
			 <listeners>
				<add name="Sockets"/>
			 </listeners>
		 </source>
	 </sources>
	 <switches>
		<add name="System.Net.Sockets" value="31" />
	 </switches>
	 <sharedListeners>
		<add name="Sockets" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\asm\Source\Repos\csharp-client\Hazelcast.Test\log\Sockets.log"/>
	 </sharedListeners>
	 <trace autoflush="true" />
 </system.diagnostics>-->
 
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  
</configuration>